<div class="article-permalink">
	<i class="fas fa-link"></i>
	<a class="permalink-link u-url" href="<%- page.permalink %>"><%= __('post.permalink') %></a>,
	<% var shortlink = getShortLink(page.permalink) %>
	<a rel="nofollow shortlink" type="text/html" class="shortlink-link u-url" href="<%= shortlink %>"><%= __('post.shortlink') %></a>
</div>
